<div class="dashboard-container">
  <div class="header">
    <div>
      <h1>
        <a [routerLink]="['/']" class="orpheus" style="cursor: pointer;">
          Orpheus
        </a>
      </h1>
    </div>
    <div>
      <div class="room-info">
        <h2>Room Code: <span>{{ roomCode }}</span></h2>
        <button mat-icon-button (click)="openQRDialog()" aria-label="Show QR">
          <mat-icon>qr_code</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="video">
      <app-hls-player *ngIf="hlsUrl" [src]="hlsUrl"></app-hls-player>
    </div>
    <div class="queue-box">
      <h3>🎤 On Queue</h3>
      <div *ngFor="let song of queuedSongs" class="queued-song">
        <img [src]="song.thumbnail_url" width="150" height="100" alt="thumb" />
        <div>
          <strong>{{ song.title }}</strong><br />
          <small>By {{ song.singer }}</small>
        </div>
      </div>
    </div>
  </div>
</div>

