<div class="dashboard-container">
  <div class="header">
    <div>
      <h1>
        <a [routerLink]="['/']" class="orpheus" style="cursor: pointer;">
          Orpheus
        </a>
      </h1>
    </div>
    <div>
      <div class="room-info">
        <h2>Room Code: <span>{{ roomCode }}</span></h2>
        <button mat-icon-button (click)="openQRDialog()" aria-label="Show QR">
          <mat-icon>qr_code</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="video">
      <div *ngIf="!started" (click)="startKaraoke()" class="start-overlay">
      Tap to Start Karaoke 🎤
      </div>
      <div class="next-song-overlay" *ngIf="showNextSongOverlay">
        🎶 Up Next: {{ nextSongTitle }}
      </div>
      <app-hls-player *ngIf="started && hlsUrl" [src]="hlsUrl" (ended)="onVideoEnded()" (timeUpdate)="handleTimeUpdate($event)"></app-hls-player>
    </div>
    <div class="queue-box">
      <h3>🎤 On Queue</h3>
      <div *ngFor="let song of queuedSongs" class="queued-song">
        <img [src]="song.thumbnail_url" width="150" height="100" alt="thumb" />
      <div class="song-info">
        <strong>{{ song.title }}</strong><br />
        <small>By {{ song.singer }}</small>
        <div *ngIf="song.status === 'composing'" class="status-indicator">
          <img src="harp.gif" width="24" height="24" alt="Composing" />
          <span>Composing...</span>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

